body {
    font-family: Arial, sans-serif;
    padding: 15px;
    padding-bottom: 0;
    width: 250px;
    background: #353535;
    color: #fff;
    border-radius: 5px;
}

h2 {
    margin: 0;
    margin-bottom: 10px;
}

.option-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0.6rem 0;
}

.option {
    display: flex;
    align-items: baseline;
    margin: 0.3rem 0;
    width: 100%;
}

.vertical {
    flex-direction: column;
}

.option-group {
    width: 100%;
    margin-bottom: 1rem;
    border-top: 1px solid #555;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}


.adjacent {
    margin-left: 0.5rem;
}

.last-one { 
    margin-bottom: 4rem;
}

#includeInput {
    margin-right: 10px;
    padding: 0.2rem 1rem;
}

#hostsToClear {
    margin: 1rem auto 0 auto;
}

#hostsToClear > div {
    margin: 2px 0;
}

#hostsToClear > div > span {
    word-wrap: break-word;
    overflow-x: hidden;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(16px);
}

.status {
    color: green;
    font-size: 12px;
    height: 15px;
    margin-top: 5px;
}

.no-border {
    border-top: 0 !important;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.button:hover {
    background-color: #0056b3;
}

.button-delete {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    margin: 0 10px;
}

.button-delete:hover {
    background-color: #d32f2f;
}

.selector {
    width: 100%;
    padding: 0.25rem;
    margin-left: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    font-size: 12px;
}

#autoClearInterval {
    width: 15%;
}

#clearNowBtn {
    font-size: 12px;
    margin: 0 auto;
}

.button {
    padding: 0.2rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

#group-name-example {
    font-size: 12px;
    color: #999;
    margin: 0;
}

.groupName {
    color: #777;
    margin: 0;
}
